[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Comment=Terminal Emulator
GenericName=Terminal Emulator
Exec=xfce4-terminal --maximize --show-menubar --show-borders --hide-toolbar --title "HSM Output" --tab --title Commands
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
